.phero{
    width: 400px

}

.phero{
    align-items: end;
}

.HHH{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.HHH i{
    font-size: 70px;
    color:#7FBC4E;
    padding-right: 24px;
    padding-top: 3px;
}

.phero h1{
    padding-bottom:10px ;
    font-weight: 500;
    font-size: 22px;
}